<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user1::modify</title>
	</head>
<body>
	<h3>고객 수정</h3>
	<a th:href="@{/}">처음으로</a>
	<a th:href="@{/customer/list}">고객목록</a>
	
	<form th:action="@{/customer/modify}" method="post">
		<table border="1">
			<tr>
				<td>고객번호</td>
				<td><input type="text" name="custId" th:value="${customer.custId}" readonly="readonly"></td>
			</tr>
			<tr>
				<td>고객명</td>
				<td><input type="text" name="name" th:value="${customer.name}"></td>
			</tr>
			<tr>
				<td>주소</td>
				<td><input type="text" name="address" th:value="${customer.address}"></td>
			</tr>
			<tr>
				<td>휴대폰</td>
				<td><input type="tel" name="phone" th:value="${customer.phone}"></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="수정"></td>
			</tr>
		</table>
	</form>		
</body>
</html>