<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user2::login</title>
	</head>
	<body>
		<h3>user2 login</h3>
		<a th:href="@{/}">처음으로</a>
		<form th:action="@{#}" method="post">
			<table border="1">
				<tr>
			    	<th>아이디</th>
			    	<td><input type="text" name='uid'> </td>
			  	</tr>
				<tr>
			    	<th>비밀번호</th>
			    	<td><input type="password" name='pass'> </td>
			  	</tr>
			  	<tr>
			    	<th>자동로그인</th>
			  		<td><input type="checkbox" name="autoUid"></td>
			  	</tr>
				<tr>
			    	<th colspan="2" align="right"><input type="submit" value="로그인"></th>
			  	</tr>
			</table>
		</form>		
	</body>
</html>