<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/ajaxAPI.js}"></script>
	<script th:src="@{/js/register.js}"></script>
	<script th:src="@{/js/postcode.js}"></script>
    <script>
		// 컨텍스트 루트 ex) /Sboard/
    	const contextPath = "[[@{/}]]";
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
        </header>

        <main id="user" class="register">

            <form name="form" th:action="@{/user/register}" method="post" th:object="${userVO}">
                <table border="1">
                    <caption>사이트 이용정보 입력</caption>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="text" name="uid" placeholder="아이디 입력" th:value="*{uid}"/>
                            <span th:if="${not #fields.hasErrors('uid')}" class="result resultUid"></span>
                            <span class="result resultUid" th:errors="*{uid}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input type="password" name="pass" placeholder="비밀번호 입력" th:value="*{pass}"/>
                            <span th:if="${not #fields.hasErrors('pass')}" class="result resultPass"></span>
                            <span class="result resultPass" th:errors="*{pass}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td>
                            <input type="password" name="reconfirmPass" placeholder="비밀번호 입력 확인" th:value="*{pass}"/>
                            <span class="result resultConfirmPass"></span>
                        </td>
                    </tr>
                </table>

                <table border="1">
                    <caption>개인정보 입력</caption>
                    <tr>
                        <th>이름</th>
                        <td>
                            <input type="text" name="name" placeholder="이름 입력" th:value="*{name}"/>                        
                            <span th:if="${not #fields.hasErrors('name')}" class="result resultName"></span>
                            <span class="result resultName" th:errors="*{name}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>별명</th>
                        <td>
                            <p>공백없이 한글, 영문, 숫자 입력</p>
                            <input type="text" name="nick" placeholder="별명 입력" th:value="*{nick}"/>
                            <span th:if="${not #fields.hasErrors('nick')}" class="result resultNick" ></span>
                            <span class="result resultNick" th:errors="*{nick}"></span>
                        </td>
                    </tr>                    
                    <tr>
                        <th>이메일</th>
                        <td>
                            <input type="text" name="email" placeholder="이메일 입력" th:value="*{email}"/>
                            <button type="button" id="btnEmailAuth"><img th:src='@{/images/chk_auth.gif}' alt="인증번호 받기"/></button>
                            <span th:if="${not #fields.hasErrors('email')}" class="result resultEmail"></span>
                            <span class="result resultEmail" th:errors="*{email}"></span>
                            
                            <div class="emailAuthDivTag">
                            	<input type="text" name="emailAuthCode" placeholder="인증번호 6자리 입력" readonly/>
                                <button type="button" id="btnEmailConfirm"><img th:src='@{/images/chk_confirm.gif}' alt="확인"/></button>
	                            <span class="result resultEmailCode"></span>
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td>
                            <input type="tel" name="hp" placeholder="(-) 포함 12자리 입력" th:value="*{hp}"/>
                            <span th:if="${not #fields.hasErrors('hp')}" class="result resultHp"></span>
                            <span class="result resultHp" th:errors="*{hp}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <input id='zip' type="text" name="zip" placeholder="우편번호 검색" readonly/>
                            <button type="button" id='btnSearchAddr'><img th:src="@{/images/chk_post.gif}" alt="우편번호 찾기"/></button>
                            <span class="result" th:errors="*{zip}"></span>
                            <input id='addr' type="text" name="addr" placeholder="기본주소 검색" readonly/>
                            <span class="result" th:errors="*{addr}"></span>
                            <input id='addrDetail' type="text" name="addrDetail" placeholder="상세주소 입력"/><br/>
                            <span class="result" th:errors="*{addrDetail}"></span>
                        </td>
                    </tr>
                </table>

                <div>
                    <a th:href="@{/user/login}" class="btnCancel">취소</a>
                    <input type="submit" class="btnRegister" value="회원가입"/>
                </div>
            </form>            
        </main>

        <footer>
            <p>ⓒCopyleft by chhak.or.kr</p>
        </footer>    
    </div>
</body>

</html>