<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>약관</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
		function nextBtn(){
	    	let termsCheckBox = document.getElementById("checkTerms");
	    	let privacyCheckBox = document.getElementById("checkPrivacy");
	    	
	    	if(!termsCheckBox.checked){
	    		alert('사이트 이용약관을 동의해주세요.');
		    	return false;	
	    	} 
	    	
	    	if(!privacyCheckBox.checked){
	    		alert('개인정보 취급방침을 동의해주세요.');
		    	return false;	
	    	}
	    	
	    	return true;	
		}
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
        </header>
        <main id="user" class="terms">
            <table border="0">
                <caption>사이트 이용약관</caption>
                <tr>
                    <td>
                        <textarea class="terms" readonly>[[${termsDTO.terms}]]</textarea>
                        <label><input type="checkbox" class="terms" id='checkTerms'>&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <table border="0">
                <caption>개인정보 취급방침</caption>
                <tr>
                    <td>
                        <textarea class="privacy" readonly>[[${termsDTO.privacy}]]</textarea>
                        <label><input type="checkbox" class="privacy" id='checkPrivacy'>&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <p>
                <a th:href="@{/user/login}" class="cancel">취소</a>
                <a th:href="@{/user/register}" class="next" onclick="return nextBtn();">다음</a>
            </p>            
        </main>

        <footer>
            <p>ⓒCopyleft by chhak.or.kr</p>
        </footer>    
    </div>
</body>
</html>