<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>book::list</title>
	</head>
<body>
	<h3>도서 목록</h3>
	<a th:href="@{/}">처음으로</a>
	<a th:href="@{/book/register}">도서등록</a>
	
	<table border="1">
		<tr>
			<th>도서번호</th>
			<th>도서명</th>
			<th>출판사</th>
			<th>가격</th>
			<th>관리</th>
		</tr>
	
		<tr th:each="book:${books}">
			<td>[[${book.bookId}]]</td>
			<td>[[${book.bookname}]]</td>
			<td th:text="${book.publisher}"></td>
			<td th:text="${book.price}"></td>
			<td>
				<a th:href="@{/book/modify(bookId=${book.bookId})}">수정</a>			
				<a th:href="@{/book/delete(bookId=${book.bookId})}">삭제</a>			
			</td>
		</tr>
		
	</table>
</body>
</html>