<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user1::modify</title>
	</head>
<body>
	<h3>도서 수정</h3>
	<a th:href="@{/}">처음으로</a>
	<a th:href="@{/book/list}">도서목록</a>
	
	<form th:action="@{/book/modify}" method="post">
		<table border="1">
			<tr>
				<td>도서번호</td>
				<td><input type="text" name="bookId" th:value="${book.bookId}" readonly="readonly"></td>
			</tr>
			<tr>
				<td>도서명</td>
				<td><input type="text" name="bookname" th:value="${book.bookname}"></td>
			</tr>
			<tr>
				<td>출판사</td>
				<td><input type="text" name="publisher" th:value="${book.publisher}"></td>
			</tr>
			<tr>
				<td>가격</td>
				<td><input type="number" name="price" th:value="${book.price}"></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="수정"></td>
			</tr>
		</table>
	</form>		
</body>
</html>