<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user1::register</title>
	</head>
<body>
	<h3>도서 등록</h3>
	<a th:href="@{/}">처음으로</a>
	<a th:href="@{/book/list}">도서 목록</a>
	
	<form th:action="@{/book/register}" method="post">
		<table border="1">
			<tr>
				<td>도서명</td>
				<td><input type="text" name="bookname"></td>
			</tr>
			<tr>
				<td>출판사</td>
				<td><input type="text" name="publisher"></td>
			</tr>
			<tr>
				<td>가격</td>
				<td><input type="number" name="price"></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="등록"></td>
			</tr>
		</table>
	</form>
</body>
</html>