<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="main">
    <main id="board" class="list">

        <form th:action="@{/gnb}">
            <input type="hidden" name="group" th:value="${param.group}">
            <input type="hidden" name="cate" th:value="${param.cate}">
            <select name="searchField">
                <option value="T" th:selected="${ph.sc.searchField == 'T'}">제목</option>
                <option value="C" th:selected="${ph.sc.searchField == 'C'}">내용</option>
                <option value="W" th:selected="${ph.sc.searchField == 'W'}">글쓴이</option>
            </select>
            <input type="text" name="searchWord" placeholder="제목 키워드, 글쓴이 검색" th:value="${param.searchWord}">
            <input type="submit" value="검색">
        </form>

        <table border="0">
            <caption>글목록</caption>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회</th>
            </tr>

            <!-- 게시글이 있는 경우 -->
            <th:block th:if="${#lists.size(articles) != 0}">
               <tr th:each="article,i:${articles}" th:object="${ph}">
                   <td>[[*{totalCnt-sc.offset} - ${i.index}]]</td>
                   <td>
                       <a th:href="@{/gnb/view} + ${ph.sc.getQueryString(ph.sc.page, article.no)}"
                          th:text="|${article.title}|" class="title" th:data-no="${article.no}"></a>
                       <span th:if="${article.comment gt 0}" th:text="|[${article.comment}]|"></span>
                       <img th:if="${article.file gt 0}" style="" alt="파일" th:src="@{/images/file.jpg}" />
                       <input type="hidden" class="content" th:value="${article.content}">
                   </td>
                   <td class="nick">[[${article.nick}]]</td>

                   <th:block th:if="${article.rdate.getTime() >= startOfToday}">
                       <td>[[${#dates.format(article.rdate, 'HH:mm')}]]</td>
                   </th:block>
                   <th:block th:if="${article.rdate.getTime() < startOfToday}">
                       <td>[[${#dates.format(article.rdate, 'yy-MM-dd')}]]</td>
                   </th:block>

                   <td>[[${article.hit}]]</td>
               </tr>
            </th:block>

            <!-- 게시글이 없는 경우 -->
            <th:block th:if="${#lists.size(articles) == 0 and ph.sc.searchField ne null}">
                <tr> <td colspan="5">검색된 게시글이 없습니다.</td> </tr>
            </th:block>
            <th:block th:if="${#lists.size(articles) == 0 and ph.sc.searchField eq null}">
                <tr> <td colspan="5">등록된 게시글이 없습니다.</td> </tr>
            </th:block>
       </table>

        <!-- 게시글이 없는 경우 페이지 넘버 숨기기 -->
       <div class="page" th:style="${#lists.size(articles) == 0 ? 'visibility:hidden;':''}" th:object="${ph}">

           <th:block th:if="*{showPrev}">
               <a th:href="@{/gnb} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">이전</a>
           </th:block>

           <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
               <a  th:href="@{/gnb} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                   [[${num}]]
               </a>
           </th:block>

           <th:block th:if="*{showNext}">
               <a th:href="@{/gnb} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next">다음</a>
           </th:block>

       </div>

       <a th:href="@{/gnb/write} + ${ph.sc.getQueryString()}" class="btnWrite">글쓰기</a>
   </main>
</th:block>
<th:block layout:fragment="script">
    <script>
        const searchField = document.querySelector('select[name=searchField]'); // 검색 필드
        const searchWord = document.querySelector('input[name=searchWord]');   // 검색 단어

        // 검색어 하이라이트 이벤트
        $(function (){
            if(searchField.options[searchField.selectedIndex].value === "T"){
                $('.title').highlight(searchWord.value);
            }
            else if(searchField.options[searchField.selectedIndex].value === "W"){
                $('.nick').highlight(searchWord.value);
            }
        })

        window.onload = function (){
            const articlesLink = document.querySelectorAll(".title");

            articlesLink.forEach((link) => {

                // 조회수 올리는 이벤트
                link.addEventListener("click", function (e){
                    let no = link.getAttribute("data-no");
                    ajaxAPI("gnb/hit/" + no, {no:no}, "POST")
                });
            });
        };
    </script>
    <script th:src="@{/js/jquery.highlight-5.js}"></script>
</th:block>
</html>