<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="main">
    <main id="board" class="list">

        <table border="0">
            <caption>글목록</caption>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회</th>
            </tr>

            <!-- 게시글이 있는 경우 -->
            <th:block th:if="${#lists.size(articles) != 0}">
               <tr th:each="article,i:${articles}" th:object="${ph}">
                   <td>[[*{totalCnt-sc.offset} - ${i.index}]]</td>
                   <td>
                       <a th:href="@{/gnb/view} + ${ph.sc.getQueryString(ph.sc.page, article.no)}"
                          th:text="|${article.title} [${article.comment}]|"></a>
                   </td>
                   <td>[[${article.nick}]]</td>
                   <td>[[${#strings.substring(article.rdate, 2, 10)}]]</td>
                   <td>[[${article.hit}]]</td>
               </tr>
            </th:block>

            <!-- 게시글이 없는 경우 -->
            <th:block th:if="${#lists.size(articles) == 0}">
                <tr> <td colspan="5">게시글이 없습니다.</td> </tr>
            </th:block>
       </table>

        <!-- 게시글이 없는 경우 페이지 넘버 숨기기 -->
       <div class="page" th:style="${#lists.size(articles) == 0 ? 'visibility:hidden;':''}" th:object="${ph}">

           <th:block th:if="*{showPrev}">
               <a th:href="@{/gnb(group=${param.group},cate=${param.cate}, page=*{beginPage}-1)}" class="prev">이전</a>
           </th:block>

           <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
               <a  th:href="@{/gnb(group=${param.group}, cate=${param.cate}, page=${num})}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                   [[${num}]]
               </a>
           </th:block>

           <th:block th:if="*{showNext}">
               <a th:href="@{/gnb(group=${param.group}, cate=${param.cate}, page=*{endPage}+1)}" class="next">다음</a>
           </th:block>

       </div>

       <a th:href="@{/gnb/write(group=${param.group}, cate=${param.cate}, page=${param.page})}" class="btnWrite">글쓰기</a>
   </main>
</th:block>
</html>