<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="main">
    <main id="board" class="view">

        <table th:object = "${article}">
            <input type="hidden" name="no" th:value="*{no}">
            <caption>글보기</caption>
            <tr>
                <th>제목</th>
                <td><input type="text" name="title" th:value="*{title}" readonly/></td>
            </tr>
            <tr th:if="*{file == 1}">
                <th>파일</th>
                <td>
                    <a id="fileDown" th:href="@{/gnb/download(fno=*{fileVO.fno})}">[[*{fileVO.oriName}]] </a>
                    <span id="downCount">[[*{fileVO.download}]]</span>회 다운로드
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea name="content" readonly>[[*{content}]]</textarea></td>
            </tr>
        </table>

        <div>
            <th:block th:if="${#authentication.name ne 'anonymousUser' and #authentication.name eq article.uid}">
                <a th:href="@{/gnb} + ${sc.getQueryString()}" class="btn btnRemove">삭제</a>
                <a th:href="@{/gnb/modify} + ${sc.getQueryString()}" class="btn btnModify">수정</a>
            </th:block>
            <a th:href="@{/gnb} + ${sc.getQueryString()}" class="btn btnList">목록</a>
        </div>

        <!-- 댓글목록 -->
        <section class="commentList">
            <h3>댓글목록</h3>
            <div>

                <!-- 댓글 수정창 -->
                <section id="cModifyForm" class="commentForm">
                    <h3 style="font-weight: bold">댓글쓰기</h3>
                    <textarea name="comment" placeholder="댓글내용 입력" rows="4" maxlength="300"></textarea>
                    <div>
                        <a href="#" class="btn btnCancel" id="btnModCancel">취소</a>
                        <input type="button" class="btn btnComplete" id="btnModComplete" value="수정완료" style="display: none"/>
                        <input type="button" class="btn btnComplete" id="btnReplyComplete" value="답변완료" style="display: none"/>
                    </div>
                </section>
            </div>

            <p class="empty">등록된 댓글이 없습니다.</p>
        </section>

        <!-- 댓글쓰기 -->
        <section class="commentForm">
            <h3>댓글쓰기</h3>
            <textarea name="commentWrite" th:placeholder="${#authentication.name eq 'anonymousUser' ? '로그인 후 입력 가능합니다.':'댓글 내용 입력'}"
                      rows="4" maxlength="300" th:readonly="${#authentication.name eq 'anonymousUser'}"></textarea>
            <div>
                <a href="#" class="btn btnCancel" id="btnCancel">취소</a>
                <input type="button" class="btn btnComplete" id="btnComplete" value="작성완료"/>
            </div>
        </section>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">

        // 로그인 사용자 정보
        const uid = "[[${#authentication.name}]]";
        const nick = "[[${nick}]]";

        let fileDown =  document.getElementById('fileDown');

        if(fileDown != null){
            fileDown.addEventListener("click", function (){
                let downCount = document.getElementById('downCount');
                downCount.innerHTML = parseInt(downCount.textContent) + 1;
            });
        }
    </script>
    <script th:src="@{/js/comment.js}"></script>
</th:block>
</html>



