<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="main">
    <main id="board" class="write">

        <form name="form" th:action="@{/gnb/write(group=${param.group}, cate=${param.cate}, page=1)}" method="post" enctype="multipart/form-data">
            <table border="0">
                <caption>글쓰기</caption>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" placeholder="제목을 입력하세요." maxlength="50"/></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea name="content"></textarea></td>
                </tr>
                <tr>
                    <th>파일</th>
                    <td><input type="file" name="fname"/></td>
                </tr>
            </table>

            <div>
                <a th:href="@{/gnb} + ${sc.getQueryString()}" class="btn btnCancel">취소</a>
                <input type="submit" value="작성완료" class="btn btnComplete"/>
            </div>
        </form>
    </main>
</th:block>

<th:block layout:fragment="script">
    <script>
        let btnComplete = document.querySelector(".btnComplete")

        console.log(btnComplete);

        window.onload = function (){
            form.addEventListener("submit", function (e){

                let title = document.querySelector("input[name=title]");
                let content = document.querySelector("textarea[name=content]");

                if(title.value.trim() === ''){
                    alert('제목을 입력 해주세요.');
                    e.preventDefault();
                    return;
                }

                if(content.value.trim() === ''){
                    alert('내용을 입력 해주세요.');
                    e.preventDefault();
                    return;
                }
            })
        }
    </script>
</th:block>
</html>




