<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>include</title>
	</head>
	<body>
		<h2>Thymeleaf include 실습</h2>
		<h3>include 기본</h3>
		<th:block th:include="/fragment/_header.html"/>
		<main>
			<h4>main1 입니다.</h4>
		</main>
		<th:block th:include="/fragment/_footer.html"/>
		
		<h3>include insert</h3>
		<div th:insert="/fragment/_header.html"></div>
		<main>
			<h4>main2 입니다.</h4>
		</main>
		<div th:insert="/fragment/_footer.html"></div>
		
		<h3>include replace</h3>
		<div th:replace="/fragment/_header.html"></div>
		<main>
			<h4>main3 입니다.</h4>
		</main>
		<div th:replace="/fragment/_footer.html"></div>
	</body>
</html>