<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="main">
    <main>
        <div class="slider">
            <ul>
                <li><img th:src="@{/images/main_slide_img1.jpg}" alt="슬라이더1"></li>
                <li><img th:src="@{/images/main_slide_img2.jpg}" alt="슬라이더2"></li>
                <li><img th:src="@{/images/main_slide_img3.jpg}" alt="슬라이더3"></li>
            </ul>

            <img th:src="@{/images/main_slide_img_tit.png}" alt="사람과 자연을 사랑하는 팜스토리"/>

            <div class="banner">
                <img th:src="@{/images/main_banner_txt.png}" alt="GRAND OPEN"/>
                <img th:src="@{/images/main_banner_tit.png}" alt="팜스토리 오픈기념 30% 할인 이벤트"/>
                <img th:src="@{/images/main_banner_img.png}" alt="과일"/>
            </div>
        </div>

        <div class="quick">
            <a th:href="@{/gnb(group='community', cate='menu', page='1')}"><img th:src="@{/images/main_banner_sub1_tit.png}" alt="오늘의 식단"></a>
            <a th:href="@{/gnb(group='community', cate='chef', page='1')}"><img th:src="@{/images/main_banner_sub2_tit.png}" alt="나도 요리사"></a>
        </div>

        <div class="latest">
            <div>
                <a th:href="@{/gnb(group='croptalk', cate='grow', page='1')}"><img th:src="@{/images/main_latest1_tit.png}" alt="텃밭 가꾸기"/></a>
                <img th:src="@{/images/main_latest1_img.jpg}" alt="이미지"/>
                <table border="0">
                    <th:block th:if="${map.get('grow') != null}" >
                        <tr th:each="grow : ${map.grow}">
                            <td>></td>
                            <td>
                                <a th:href="@{/gnb/view(group='croptalk', cate='grow', no=${grow.no} ,page=1)}">[[${grow.title}]]</a>
                            </td>
                            <td>[[${#dates.format(grow.rdate, 'yy-MM-dd')}]]</td>
                        </tr>
                    </th:block>
                    <tr th:if="${map.get('grow') == null}">
                        <td>></td>
                        <td colspan="2"><a>등록된 게시물이 없습니다.</a></td>
                    </tr>
                </table>
            </div>
            <div>
                <a th:href="@{/gnb(group='croptalk', cate='school', page='1')}"><img th:src="@{/images/main_latest2_tit.png}" alt="귀농학교"/></a>
                <img th:src="@{/images/main_latest2_img.jpg}" alt="이미지"/>
                <table border="0">
                    <tr th:each="school : ${map.school}" th:if="${#lists.size(school) != 0}">
                        <td>></td>
                        <td>
                            <a th:href="@{/gnb/view(group='croptalk', cate='school', no=${school.no} ,page=1)}">[[${school.title}]]</a>
                        </td>
                        <td>[[${#dates.format(school.rdate, 'yy-MM-dd')}]]</td>
                    </tr>
                    <tr th:if="${#lists.size(map.school) == 0}">
                        <td>></td>
                        <td colspan="2">등록된 게시물이 없습니다.</td>
                    </tr>
                </table>
            </div>
            <div>
                <a th:href="@{/gnb(group='croptalk', cate='story', page='1')}"><img th:src="@{/images/main_latest3_tit.png}" alt="농작물 이야기"/></a>
                <img th:src="@{/images/main_latest3_img.jpg}" alt="이미지"/>
                <table border="0">
                    <tr th:each="story : ${map.story}" th:if="${#lists.size(story) != 0}">
                        <td>></td>
                        <td>
                            <a th:href="@{/gnb/view(group='croptalk', cate='story', no=${story.no} ,page=1)}">[[${story.title}]]</a>
                        </td>
                        <td>[[${#dates.format(story.rdate, 'yy-MM-dd')}]]</td>
                    </tr>
                    <tr th:if="${#lists.size(map.story) == 0}">
                        <td>></td>
                        <td colspan="2">등록된 게시물이 없습니다.</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="info">
            <div>
                <img th:src="@{/images/main_sub2_cs_tit.png}" class="tit" alt="고객센터 안내"/>
                <div class="tel">
                    <img th:src="@{/images/main_sub2_cs_img.png}" alt="">
                    <img th:src="@{/images/main_sub2_cs_txt.png}" alt="1666-777">
                    <p class="time">
                        평일: AM 09:00 ~ PM 06:00<br>
                        점심: PM 12:00 ~ PM 01:00<br>
                        토, 일요일, 공휴일 휴무
                    </p>
                </div>
                <div class="btns">
                    <a th:href="@{/gnb(group='community', cate='qna', page='1')}"><img th:src="@{/images/main_sub2_cs_bt1.png}" alt="1:1 고객문의"></a>
                    <a th:href="@{/gnb(group='community', cate='feq', page='1')}"><img th:src="@{/images/main_sub2_cs_bt2.png}" alt="자주묻는질문"></a>
                    <a th:href="@{#}"><img th:src="@{/images/main_sub2_cs_bt3.png}" alt="배송조회"></a>
                </div>
            </div>
            <div>
                <img th:src="@{/images/main_sub2_account_tit.png}" class="tit" alt="계좌안내"/>
                <p class="account">
                    기업은행 123-456789-01-01-012<br />
                    국민은행 01-1234-56789<br />
                    우리은행 123-456789-01-01-012<br />
                    하나은행 123-456789-01-01<br />
                    예 금 주 (주)팜스토리
                </p>
            </div>
            <div>
                <div id="tabs">
                    <ul>
                        <li><a th:href="@{#tabs-1}">공지사항</a></li>
                        <li><a th:href="@{#tabs-2}">1:1 고객문의</a></li>
                        <li><a th:href="@{#tabs-3}">자주묻는 질문</a></li>
                    </ul>
                    <div id="tabs-1">
                        <ul class="txt">
                            <th:block th:if="${map.get('notice') != null}">
                                <th:block th:each="notice, i : ${map.notice}">
                                    <li th:if="${i.index < 3}">
                                        <a th:href="@{/gnb/view(group='community', cate='notice', no=${notice.no} ,page=1)}">· [[${notice.title}]]</a>
                                    </li>
                                </th:block>
                            </th:block>
                            <th:block th:if="${map.get('notice') == null}">
                                <li><a>· 등록된 게시물이 없습니다.</a></li>
                            </th:block>
                        </ul>
                    </div>
                    <div id="tabs-2">
                        <ul class="txt">
                            <th:block th:if="${map.get('feq') != null}">
                                <th:block th:each="feq, i : ${map.feq}">
                                    <li th:if="${i.index < 3}">
                                        <a th:href="@{/gnb/view(group='community', cate='feq', no=${feq.no} ,page=1)}">· [[${feq.title}]]</a>
                                    </li>
                                </th:block>
                            </th:block>
                            <th:block th:if="${map.get('feq') == null}">
                                <li><a>· 등록된 게시물이 없습니다.</a></li>
                            </th:block>
                        </ul>
                    </div>
                    <div id="tabs-3">
                        <ul class="txt">
                            <th:block th:if="${map.get('qna') != null}">
                                <th:block th:each="qna, i : ${map.qna}">
                                    <li th:if="${i.index < 3}">
                                        <a th:href="@{/gnb/view(group='community', cate='qna', no=${qna.no} ,page=1)}">· [[${qna.title}]]</a>
                                    </li>
                                </th:block>
                            </th:block>
                            <th:block th:if="${map.get('qna') == null}">
                                <li><a>· 등록된 게시물이 없습니다.</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(function(){
            $('.slider > ul').bxSlider({
                slideWidth: 980,
                pager: false,
                controls: false,
                auto: true
            });

            $('#tabs').tabs();

        });
    </script>
</th:block>
</html>
